# How we can deal with missing data
 1. if missing data is 1% less than of total data u can remove it 
 2. If not that case 
  2.a  if nature of data is Continous replace it with mean or median 
  2.b categorical is nature replace with  mode

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    'A': [1,2,np.nan,4,5],
    'B': [1,2,3,np.nan,5],
    'C': [1,2.5,4,np.nan,5],
    'D': [1,2,np.nan,4,5],
    'E': [1.8,0.2,np.nan,4.8,5.2]
}

df= pd.DataFrame(data)
df

     A    B    C    D    E
0  1.0  1.0  1.0  1.0  1.8
1  2.0  2.0  2.5  2.0  0.2
2  NaN  3.0  4.0  NaN  NaN
3  4.0  NaN  NaN  4.0  4.8
4  5.0  5.0  5.0  5.0  5.2

In [4]:
df.isnull().sum()

A    1
B    1
C    1
D    1
E    1
dtype: int64

In [5]:
### if u drop null values
df.dropna()

     A    B    C    D    E
0  1.0  1.0  1.0  1.0  1.8
1  2.0  2.0  2.5  2.0  0.2
4  5.0  5.0  5.0  5.0  5.2

In [6]:
### want to drop null colmn
df.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

## replacing any value with mean of colmn

In [8]:

df

     A    B    C    D    E
0  1.0  1.0  1.0  1.0  1.8
1  2.0  2.0  2.5  2.0  0.2
2  NaN  3.0  4.0  NaN  NaN
3  4.0  NaN  NaN  4.0  4.8
4  5.0  5.0  5.0  5.0  5.2

In [13]:
# for colmn wise
df['A'].fillna(df['A'].mean())

#for all 
df.fillna(df['A'].mean()) # same fir median and mode

     A    B    C    D    E
0  1.0  1.0  1.0  1.0  1.8
1  2.0  2.0  2.5  2.0  0.2
2  3.0  3.0  4.0  3.0  3.0
3  4.0  3.0  3.0  4.0  4.8
4  5.0  5.0  5.0  5.0  5.2